.Heading {
    background-color: rgb(255, 255, 255);
    color: rgba(191, 5, 5, 0.885);
    padding: 7pt;
    margin-bottom: 2pt;
}

h1 {
    text-align: center;
    font-family: 'Franklin Gothic Medium';
    font-size: 30pt;
}

#div1 {
    text-align: left;
    background-color: black;
    color: aliceblue;
    border-radius: 5pt;
    padding: 3pt;
    font-size: 15pt;
}

#cat {
    color: rgb(255, 238, 0);
    text-align: left;
    margin: 15pt;
    font-size: 20pt;
}

pre {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

button:hover {
    background-color: rgb(137, 8, 8) !important;
    color: rgb(255, 255, 255) !important;
    font-size: large !important;
    transition: 0.5s ease-in-out !important;


}

@keyframes blink {

    0%,
    100% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }
}

#loginb {
    float: right;
    margin-right: 20pt;
    border: 1pt solid rgb(7, 7, 7);
    background-color: rgb(4, 76, 0);
    color: aliceblue;
    border-radius: 3pt;
    padding: 5pt;
    font-family: 'Arial Narrow Bold', sans-serif;
    font-size: 12pt;

    animation: blink 1s infinite;
}

.countdown-container {
    text-align: center;
    margin-top: 20px;
    margin-left: 20px;
    background: rgb(255, 255, 255);
    padding: 10px;
    border-radius: 3pt;
    border: 3pt rgb(0, 0, 0);
    display: inline-block;
}

.countdown {
    font-size: 18px;
    font-weight: bold;
    color: #000000;
    display: flex;
    justify-content: center;
    gap: 15px;
}

.time-box {
    padding: 8px;
    background: #000000;
    color: white;
    border-radius: 5px;
    min-width: 50px;
    text-align: center;
}

.label {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 12px;
    color: #420656;
}

@keyframes blinkwow {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.timer {
    background-color: white;
    color: rgba(0, 0, 0, 0.842);
    padding: 7pt;
    border-radius: 3pt;

    animation: blinkwow 1s 1;
}